<main>
  <section class="form-section">
    <img src="assets/logo.jpg" alt="Logo" />
    <h2>{{ title }}</h2>
    <ng-content></ng-content>
    <button class="btn-primary">{{ primaryBtnText }}</button>
    <div class="divider">
      <div><hr></div>
      <span>OR</span>
      <div><hr></div>
    </div>
    <button class="btn-secondary">{{ secondaryBtnText}}</button>
  </section>

  <section class="main-section">
    <h1>Your should, MoveIt</h1>
    <img src="assets/delivery.png" alt="delivery"/>
  </section>
</main>
